# Binaries and build artifacts
dist/
*.exe
*.dll
*.so
*.dylib
*.test
*.syso
test-*
/bifrost

# Private keys & certificates
*.key
*.pfx
*.pem
*.crt
*.cer

# Local user configs
bifrost_config.json

# Archives
*.zip
*.tar.gz
*.7z

# IDE & OS files
.idea/
.vscode/
Thumbs.db
Desktop.ini
